<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>StackUp Question of the Day</h1>
    <p>
      Hello! Here is an unanswered Ruby question that was recently posted to  Stack Overflow: <br>
    </p>
    <p>
      Question Title: <%= @question.title %>.
    </p>
    <p>Question Body: <%= @question.body_html %></p>
<p>Answer the question <%= @question.url %></p>
  </body>
</html>